@import 'core/_variables';
@import 'components/_landing';
@import 'components/_header.scss';
@import 'components/_landing-main.scss';
@import 'components/_footer.scss';
body{
  box-sizing: border-box;
  margin: 0px 0px;
}
*{
  margin: 0px;
}
.container-page{
  min-height: 100vh;
  display: grid;
  grid-template-rows: (1fr 1fr);
}
.container-header-main{
  grid-row:1fr;
}





