
@import 'core/_variables.scss';
@import 'core/mixins';
@import 'core/buttons';
@import 'core/typography';
@import 'layout/container';
@import 'components/_footer.scss';
@import 'components/_header.scss';
@import 'components/_landing-main.scss';
@import 'components/cards-header';
@import 'components/cards-img-section';
@import 'components/design';
@import 'components/_cards-main.scss';
@import 'components/_cards-form-section.scss';
@import 'components/_cards-share.scss';
@import 'components/_cards_share-twitter.scss';

*{
  margin:0;
  box-sizing: border-box;
}
.div-page{
  min-height:100vh;
  display: grid;
  grid-template-rows: (1fr auto);
}
.landing__page-div{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-landing-bg;
  position: relative;
}
.hidden{
  display:none;
}

/*Reset*/

fieldset{
  border:none;
  padding:0;
  margin:0;
}
p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
