<section class="cards__img-section">
  <div class="container">
    <button class="btn img-btn__text cards__img-button ">
      <i class="far fa-trash-alt"></i>
      reset
    </button>
    <div class="cards__img-wrapper">
      <div class="img__text-box">
        <h2 class="img__title img-text__title">
          Nombre Apellido
        </h2>
        <p class="img__text img-text__subtitle">
          Front-end developer
        </p>
      </div>
      <div class="cards__img">
        <!--No se muy bien como se va a incluir la imagen así que pondre un img y un background y cuando nos lo expliquen lo cambiamos-->
        <img class= "image"src="https://thispersondoesnotexist.com/image" alt="Imagen perfil" />
      </div>
      <div class="img__icons-box">
        <ul class="icons__list img-text__title">
          <li class="icon1">
            <a class="icon__anchor icons__item icon__mobile" href="http://"
              target = "__blank"><i class="fas fa-mobile-alt"></i
            ></a>
          </li>
          <li class="icon2">
            <a class="icon__anchor icons__item icon__mail" href="http://"
            target = "__blank"><i class="far fa-envelope"></i
            ></a>
          </li>
          <li class="icon3">
            <a class="icon__anchor icons__item icon__linkedin" href="http://"
            target = "__blank"><i class="fab fa-linkedin-in"></i
            ></a>
          </li>
          <li class="icon4">
            <a class="icon__anchor icons__item icon__github" href="http://"
            target = "__blank"><i class="fab fa-github-alt"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
