<section class="cards__img-section">
  <div class="container">
    <div class="cards__wrapper">
      <button type ="button"class="btn cards__img-button reset js__reset img-btn__text">
        reset
      </button>
      <div class="cards__img-wrapper cards__img-wrapper-op1">
        <div class="img__text-box">
          <h2 class="img__title img-text__title">
            Nombre Apellido
          </h2>
          <p class="img__text img-text__subtitle">
            Front-end developer
          </p>
        </div>
        <div class="profile__image js__profile-container-image cards__img">
          <img class="image js__profile-image" src="" alt="Imagen por defecto"/>
        </div>
        <div class="img__icons-box">
          <ul class="icons__list img-text__title">
            <li class="icon1 hidden">
              <a class="icon__anchor icons__item icon__mail icon__mail-blue " href="" target="_blank">
                <span class="span__text">
                  Si quieres enviarme un mail, visita este enlace.
                </span>
              </a>
            </li>
            <li class="icon2 hidden">
              <a class="icon__anchor icons__item icon__mobile icon__mobile-blue  " href="" target="_blank">
                <span class="span__text">Si quieres llamarme, este es mi número.</span>
              </a>
            </li>
            <li class="icon3 hidden">
              <a class="icon__anchor icons__item icon__linkedin icon__linkedin-blue " href="" target="_blank">
                <span class="span__text">Si quieres ver mi perfil de linkedIn, visita este
                  enlace.</span>
              </a>
            </li>
            <li class="icon4 hidden">
              <a class="icon__anchor icons__item icon__github icon__github-blue  " href="http://" target="_blank">
                <span class="span__text">Si quieres ver mi perfil de linkedIn, visita este enlace.</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
