<section class="cards__img-section">
  <div class="container">
    <div class="wrapper">
      <button class="cards__img-button">
          <i class="far fa-trash-alt"></i>
        reset
      </button>
      <div class="cards__img-wrapper">
        <div class="img__text-box">
          <h2 class="img__title">
            Nombre Apellido
          </h2>
          <p class="img__text">
            Front-end developer
          </p>
        </div>
        <img src="" alt="Imagen perfil">
        <div class="img__icons-box">
          <ul class="icons__list">
            <li class="icons__item icon__mobile"><i class="fas fa-mobile-alt"></i></li>
            <li class="icons__item icon__mail"><i class="far fa-envelope"></i></li>
            <li class="icons__item icon__linkedin"><i class="fab fa-linkedin-in"></i></li>
            <li class="icons__item icon__github"><i class="fab fa-github-alt"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
