
    <fieldset class="design">

      <div class="titleandbutton__container">
      <h2 class="desing__title">Diseña</h2>
      <button type="button" class="button scroll-up"><i class="fas fa-angle-up"></i></button>
      </div>

      <p class="design__subtitle">Colores</p>

  <div class="colors__container">
  <div class="op1__container">
      <label for="colorsop1">
      <input
      class="input1"
      id="colorsop1"
      type="radio"
      value="bluepalet"
      name="colors"
      />
      <ul class="colors__list">
          <li class="list__item"><div class="container__color container__dark-green-blue"></div></li>
          <li class="list__item"><div class="container__color container__dirty-blue"></div></li>
          <li class="list__item"><div class="container__color container__hospital-green"></div></li>
      </ul>
      </label>
  </div>

  <div class="op2__container">
      <label for="colorsop2">
        <input
        id="colorsop2"
        type="radio"
        value="redpalet"
        name="colors">
        <ul class="colors__list">
          <li class="list__item"><div class="container__color container__board"></div></li>
          <li class="list__item"><div class="container__color container__red"></div></li>
          <li class="list__item"><div class="container__color container__orange"></div></li>
          </ul>
      </label>
  </div>

  <div class="op3__container">
      <label for="colorsop3">
        <input
        id="colorsop3"
        type="radio"
        value="yellowpalet"
        name="colors">
        <ul class="colors__list">
          <li class="list__item"><div class="container__color container__grey"></div></li>
          <li class="list__item"><div class="container__color container__yellow"></div></li>
          <li class="list__item"><div class="container__color container__lightblue"></div></li>
          </ul>
      </label>
  </div>

  </div>
  </fieldset>
