<fieldset class="form__fieldset fieldset">
  <div class="container">
    <div class="form__fieldset-head-container">
      <h2 class="form__fieldset-main_title">Rellena</h2>
    </div>

    <div class="form__fieldset-main_content">
      <label for="name" class="form__fieldset-content">Nombre completo*</label>
      <input
        type="text"
        class="form__fieldset-content-gap name"
        id="name"
        name="name"
        placeholder="Ej: Sally Jill"
        required
      />

      <label for="position" class="form__fieldset-content">Puesto*</label>
      <input
        type="text"
        class="form__fieldset-content-gap gap2 puesto"
        id="position"
        name="position"
        placeholder="Ej: Front-end unicorn"
        required
      />

      <div class="form__fieldset-add_img_wrapper">
        <p class="form__fieldset-add_img-text">Imagen de perfil</p>
        <button
          class="form__fieldset-add_img-button"
          type="button"
          name="add_img"
        >
          Añadir imagen
        </button>
        <div class="form__fieldset-add_img-mini_container"></div>
      </div>

      <label for="email" class="form__fieldset-content">Email*</label>
      <input
        type="email"
        class="form__fieldset-content-gap mail"
        id="email"
        name="email"
        placeholder="Ej: sally-hill@gmail.com"
        required
      />

      <label for="telf" class="form__fieldset-content">Teléfono*</label>
      <input
        type="tel"
        class="form__fieldset-content-gap"
        id="telf"
        name="telf"
        placeholder="Ej: 555-55-55-55"
        required
      />

      <label for="linkedin" class="form__fieldset-content">Linkedin*</label>
      <input
        type="text"
        class="form__fieldset-content-gap linkedin_input"
        id="linkedin"
        name="linkedin"
        placeholder="Ej: linkedin.com/in/sally.hill"
        required
      />

      <label for="github" class="form__fieldset-content">Github*</label>
      <input
        type="text"
        class="form__fieldset-content-gap github_input"
        id="github"
        name="github"
        placeholder="Ej: @sally-hill"
        required
      />
    </div>
    <div class="line-bottom"></div>
  </div>
</fieldset>
