<main class="landing__main">
  <div class="container">
      <h2 class="landing__main-title">
        Crea tu tarjeta de visita
      </h2>
      <p class="landing__main-paragraph">
        Crea mejores contactos profesionales de forma fácil y cómoda
      </p>
      <ul class="landing__main-list">
        <li class="landing__main-li landing__li-text">
          <div class="landing__-logo landing__icon-design"></div>
          <p class="landing__li-text">
            Diseña
          </p>
        </li>

        <li class="landing__main-li landing__li-text">
          <div class="landing__-logo landing__icon-fill"></div>
          <p class="landing__li-text">
            Rellena
          </p>
        </li>

        <li class="landing__main-li landing__li-text li-share">
          <div class="landing__-logo landing__icon-share"></div>
          <p class="landing__li-text">
            Comparte
          </p>
        </li>
      </ul>
      <a class="landing__main-button" href="card.html">
        <div class="landing__button-text">
          COMENZAR
        </div>
      </a>
  </div>
</main>
