<section class="landing__main">
  <div class="landing__main-container">
      <h2 class="landing__main-title">crea tu tarjeta de visita</h2>
      <p class="landing__main-paragraph">crea mejores contactos profesionales de forma fácil y cómoda</p>

<!-- ICONOS -->
      <ul class="landing__main-list">
        <li class="landing__main-design">
          <div class="landing__design-logo"></div>
          <p class="landing__design-text">diseña</p>
        </li>

        <li class="landing__main-fill">
          <div class="landing__fill-logo"></div>
          <p class="landing__fill-text">rellena</p>
        </li>

        <li class="landing__main-share">
          <div class="landing__share-logo"></div>
          <p class="landing__share-text">comparte</p>
        </li>
      </ul>
<!-- ICONOS -->

      <a class="landing__main-button" href="card.html">comenzar</a>
  </div>
</section>
