



<form action="/fill_gaps" method="post" class="form__section-fill">
<div class="container__form">

  <fieldset class="form__fieldset">

    <div class="form__fieldset-head">
      <img class="form__fieldset-img" src="" alt="">
      <h2 class="form__fieldset-main_title">
      Rellena
      </h2>
      <button class="form__fieldset-button">^</button>
    </div>

    <div class="form__fieldset-content">
      <label for="name" class="form__fieldset-content-name">Nombre completo*</label>
        <input type="text" class="form__fieldset-content-gap" id="name" name="name" placeholder="Ej: Sally Jill" required/>

      <label for="position" class="form__fieldset-content-position">Puesto*</label>
        <input type="text" class="form__fieldset-content-gap" id="position" name="position" placeholder="Ej: Front-end unicorn" required/>

      <div class="form__fieldset-add_img">
        <p class="form__fieldset-add_img-text">Imagen de perfil</p>
        <button class="form__fieldset-add_img-button" type="button" name="add_img">
          Añadir imagen
        </button>
        <div class="form__fieldset-add_img-mini_container"></div>
      </div>

      <label for="email" class="form__fieldset-content-email">Email*</label>
        <input type="email" class="form__fieldset-content-gap" id="email" name="email" placeholder="Ej: sally-hill@gmail.com" required/>

      <label for="telf" class="form__fieldset-content-telf">Teléfono*</label>
        <input type="tel" class="form__fieldset-content-gap" id="telf" name="telf" placeholder="Ej: 555-55-55-55" required/>

      <label for="linkedin" class="form__fieldset-content-linkedin">Linkedin*</label>
        <input type="text" class="form__fieldset-content-gap" id="linkedin" name="linkedin" placeholder="Ej: linkedin.com/in/sally.hill" required/>

      <label for="github" class="form__fieldset-content-github">Github*</label>
        <input type="text" class="form__fieldset-content-gap" id="github" name="github" placeholder="Ej: @sally-hill" required/>
    </div>
  </fieldset>

</div>
</form>

