<fieldset class="share__fieldset fieldset">
  <div class="container containerMother-js" id="share">
    <div class="content__share-container containerClick-js"  id="share">
        <h2 class="share__title">Comparte</h2>
    </div>
    <div class="rollContainer-js">
      <div class="share-button-create"><button class="btn button-create"><span class="share_button-icon">Crear tarjeta</span></button></div>

</div>
  <div class="line-bottom"></div>
  <div class="content__twitter-container">
      <div class="share__text-twitter">
        <p class="share__title-twitter">La tarjeta ha sido creada:</p>
        <a class="link-twitter">https://awesome-profile-card.com?id=A456DF0001</a>
        <a class="button-twitter">
          <p class="text-link-twitter">Compartir en twitter</p>
        </a>
      </div>
    </div>
    <div class="line-bottom"></div>
  </fieldset>
