<fieldset class="share__fieldset fieldset">
  <div class="container containerMother-js" id="share">
    <div class="content__share-container containerClick-js" id="share">
      <h2 class="share__title">Comparte</h2>
    </div>
    <div class="rollContainer-js">
      <div class="share-button-create">
        <button class="btn button-create">
          <span class="share_button-icon">
            Crear tarjeta
          </span>
        </button>
      </div>
    </div>
    <div class="line-bottom"></div>
    <div class="content__twitter-container rollContainer-js">
      <div class="share__text-twitter">
        <p class="share__title-twitter">La tarjeta ha sido creada:</p>
        <div class="link-twitter">
        </div>
        <div class="twitter__wrapper">
          <a class="button-twitter text-link-twitter" href="" target="_blank">
            Compartir en twitter
          </a>
        </div>
      </div>
      <div class="line-bottom"></div>
    </div>
  </div>
</fieldset>
