<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Cards awesome-Create</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body class="cards-wrapper">
  <div class="cards__main-wrapper">
    <partial src="_cards-header.html" label="Header"></partial>
    <partial src="_cards-main.html" label="Main"></partial>
  </div>
  <partial src="_cards-footer.html" label="Footer"></partial>
  <script src="https://kit.fontawesome.com/ea09b53637.js"></script>
  <script src="assets/js/main.js" type="text/javascript"></script>
</body>
</html>
