<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Cards awesome of script-tease</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap|Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/main.css">

</head>

<body>
  <div class="container-page">
    <div class="header-main-container">
      <div class="page-content">
      <partial src="_header.html" label="Header"></partial>
      <partial src="_landing-main.html" label="Main"></partial>
    </div>
    </div>
    <partial src="_footer.html" label="Footer"></partial>
  </div>


  <script src="https://kit.fontawesome.com/6cca7f9ca4.js"></script>
  <script src="assets/js/main.js" type="text/javascript"></script>
</body>

</body>
</html>
