<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Cards awesome</title>
  <link rel="stylesheet" href="assets/css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap" rel="stylesheet">
</head>
<body>

  <div class="landing__page">
    <div class="landing__header-container">
      <partial src="_header.html" label="Header"></partial>
      <!-- h1 background -->
    </div>

    <partial src="_landing-main.html" label="Main"></partial>



    <section class="landing__footer">
      <div class="landing__footer-container">
        <p class="landing__footer-copy">Awesome profile-cards @2018</p>
        <a>
            <img class="landing__footer-logo" src="/proyectoModulo2/_src/assets/images/logo-adalab.png" alt="logo-adalab">
        </a>
      </div>




  </section>






    <script src="assets/js/main.js" type="text/javascript"></script>
  </div>
</body>

</html>
