.cards__img-section{
  background: $color-card-img-section-bg;
  height:100%;
  @include centered();
  @media all and (min-width:768px){
    min-width:329px;
    flex-grow:1;
  }
  @media all and (min-width:1024px){
    flex-grow: 1;
  }
}
.cards__img-section .container{
  padding: 38px 0 40px;
}
.cards__wrapper{
  @media all and (min-width:768px)
  {position: relative;};
}

/* Esta es la caja sobre la que tenemos que aplicar los cambios de paleta */

.cards__img-wrapper{
  width:240px;
  background-color: white;
  padding-top: 21px;
  box-shadow: 0 1px 10px 0 $black-20, 0 1px 3px 0  rgba(0, 0, 0, 0.35);
  border-radius: 2px;
    .img__text-box{
      padding: 0 20px 0 9px;
      margin-bottom:10px;
    }
    .icon__mobile{
      @include bg-img;
      background-size:13px;
    }
    .icon__mail{
      @include bg-img;
      background-size:16px;
    }
    .icon__linkedin{
      @include bg-img;
      background-size:16px;
    }
    .icon__github{
      @include bg-img;
      background-size:16px;
    }
}

.cards__img-wrapper-op1{
    .img__text-box{
      border-left: solid 5px $dirty-blue;
      .img__title{
        color: #114e4e;
      }
    }
    .icon__mobile{
      background-image: url(../images/mobile-alt-solid.svg);
      border:solid 2px $hospital-green;
    }
    .icon__mail{
      background-image: url(../images/envelope.svg);
      border:solid 2px $hospital-green;
    }
    .icon__linkedin{
      background-image: url(../images/linkedin-in-brands.svg);
      border:solid 2px $hospital-green;
    }
    .icon__github{
      background-image: url(../images/github-alt-brands.svg);
      border:solid 2px $hospital-green;  border:solid 2px $hospital-green;
    }
}

.cards__img-wrapper-op2{
  .img__text-box{
    border-left: solid 5px #bd1010;
    .img__title{
      color: #420101;
    }
  }
  .icon__mobile{
    background-image: url(../images/mobile-alt-solid_red.svg);
    border:solid 2px #e95626;
  }
  .icon__mail{
    background-image: url(../images/envelope_red.svg);
    border:solid 2px #e95626;
  }
  .icon__linkedin{
    background-image: url(../images/linkedin-in-brands_red.svg);
    border:solid 2px #e95626;
  }
  .icon__github{
    background-image: url(../images/github-alt-brands_red.svg);
    border:solid 2px #e95626;
  }
}

.cards__img-wrapper-op3{
  .img__text-box{
    border-left: solid 5px #eab052;
    .img__title{
      color:#3e5b65;
    }
  }
  .icon__mobile{
    background-image: url(../images/mobile-alt-solid_green.svg);
    border:solid 2px #a0c0cf;
  }
  .icon__mail{
    background-image: url(../images/envelope_green.svg);
    border:solid 2px #a0c0cf;
  }
  .icon__linkedin{
    background-image: url(../images/linkedin-in-brands_green.svg);
    border:solid 2px #a0c0cf;
  }
  .icon__github{
    background-image: url(../images/github-alt-brands_green.svg);
    border:solid 2px #a0c0cf;
  }
}

.reset{
  position: relative;
  color: $color-card-img-section-p;
  @media all and (min-width:768px)
  {position: absolute;
    top:-50px;
    left:0;
  };
}
.reset:before{
  content:"\f2ed";
  position: absolute;
  top: 6px;
  left: 12px;
  font-family: "Font Awesome 5 pro";
  font-weight: 600;
  color: $color-card-img-section-p;
}
.img__title{
  margin-bottom:4px;
}
.cards__img{
  height:200px;
  @include bg-img();
  position:relative;
}

// Para ocultar la imagen de usuario por si nos da un error. o el formato no es el adecuado.

.image{
  position: absolute;
  height: 1px;
  width: 1px;
  top: -10px;
  left: -10px;
  overflow:hidden;
}
.img__icons-box{
  padding: 10px 0 12px 20px;
  display:flex;
  min-height:55px;
}
.icons__list{
  @include clear-list();
  display:flex;
}
.icon__anchor{
  text-decoration: none;
  color:inherit;
}
.icons__item{
  border-radius:50%;
  margin-right: 10px;
  padding-top:31px;
  height:1px;
  width:32px;
  @include centered();
  position: relative;
  overflow:hidden;
}
.span__text{
  position:absolute;
  top:40px;
}
