.cards-wrapper{
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;

}
.cards__main-wrapper{
  grid-row: 1fr;
  display: grid;
  grid-template-rows: auto 1fr;
}
.cards__footer-wrapper{
  grid-row: auto;
}

.cards__footer{
  grid-row-start: 2;
  grid-row-end: 3;
}
.cards__header{
  grid-row: auto;
}
.cards__main{
  grid-row: 1fr;
}
