*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 320px;
}
/*Tipografía y colores*/
.design{
  color: #54585a;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  background: linear-gradient(to bottom, #f5f5f5, #ffffff);
}
.desing__title{
 font-weight: 600;
 font-size: 18px;
}
.design__subtitle{
  font-weight: normal;
  font-size: 14px;
}

/*Botón*/
.fa-angle-up{
  width: 16px;
  height: 18px;
}

/*List*/
.list__item {
  width: 30px;
  height: 1px;
  padding-top: 24px;
  overflow: hidden;
}
.colors__list{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.ro



/*Op.2 Paleta de rojos
.container__board{
  background-color: #420101;
}
.container__red{
  background-color: #bd1010;
}
.container__orange{
  background-color:#e95626;
}

.container__grey{
  background-color: #3e5b65;
}
.container__yellow{
  background-color: #eab052;
}
.container__lightblue{
  background-color: #a0c0cf;
}
Alineación
.colors__container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.titleandbutton__container{
  display: flex;
  justify-content: space-between;
}*/

