.landing__footer{
  padding: 18px 35px 20px;
  text-align: center;
}
.landing__footer-copy{
  opacity: 50%;
  font-size: 14px;
  color: #6b6b6b;
  margin-bottom: 12px;
}
.landing__footer-logo{
  width: 103px;
  height: 40px;
}
