.landing__header{
  @include bg-img();
  padding-top: 95px;
  background-color: $color-landing-bg;
}
.landing__header .container{
 @include centered();
 margin: 0 35px;
 @media all and (min-width:768px){
  margin: 0 175px;
 }
}
.landing__header-title{
 width: 250px;
 height: 1px;
 overflow: hidden;
 background-image:url("../images/tarjetalogo.svg");
 background-size: cover;
 padding-top: 64px;
 @media all and (min-width:768px){
  width: 470px;
  padding-top: 120px;
 }
}



