.landing__main {
  height: 100vh;
  min-height: 330px;
  padding-top: 36px;
  background-color: #f5f5f5;
  padding: 0px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.landing__main-title {
  color: #e17334;
  font-size: 19px;
  text-align: center;
}
.landing__main-paragraph {
  width: 265px;
  color: 1144ee;
  font-size: 12px;
  text-align: center;
  font-family: $OpenSans;
}
.landing__main-list {
  list-style: none;
  margin-top: 18px;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  display: flex;
  justify-content: center;
  border: #e17334 solid 1px;
}
.landing__main-li {
  text-align: center;
  color: #e17334;
  width: 60px;
  margin-right: 24px;
  font-family: $OpenSans;
}
.li-share {
  margin-right: 0px;
}
.landing__design-logo {
  width: 32px;
  height: 26px;
}
.landing__fill-logo {
  width: 32px;
  height: 26px;
}
.landing__share-logo {
  width: 25px;
  height: 26px;
}
.landing__main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 129px;
  height: 42px;
  background-color: #438792;
  text-decoration: none;
  color: #ffffff;
  border-radius: 21px;
  font-size: 16px;
  font-family: $OpenSans;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 30px;
}
