.landing__main {
  min-height: 270px;
  padding-top: 36px;
  background-color: $color-landing-bg;
  position: relative;
  @media all and (min-width:768px){
    padding-top: 31px;
    min-height: 460px;
  }
}
.landing__main .container{
  @include centered();
  flex-direction: column;
  @media all and (min-width:768px){
    margin: 0px 175px;
  }
}
.landing__main-list {
  @include clear-list();
  margin-top: 18px;
  padding: 10px 15px 17px;
  @include centered();
  border: $color-landing-list-border solid 1.5px;
  border-radius: 4px;
  @media all and (min-width:768px){
    margin-top: 27px;
    padding: 15px 20px 22px 20px;
    border: $color-landing-list-border solid 2px;
    border-radius: 5px;
  }
}
.landing__main-li {
  @include centered();
  flex-direction: column;
  text-align: center;
  align-items: space-around;
  width: 60px;
  margin-right: 24px;
  @media all and (min-width:768px){
    width: 75px;
    margin-right: 30px;
  }
}
.landing__-logo{
  text-align: center;
  color: $dull-orange;
  font-family: "Font Awesome 5 Pro";
}
.landing__icon-design:before{
  content: "\f248";
}
.landing__icon-fill:before{
  content: "\f11c";
}
.landing__icon-share:before{
  content: "\f1e0";
  font-weight: 900;
}
.li-share {
  margin-right: 0px;
  @include centered();
  @media all and (min-width:768px){
    margin-right: 0px;
  }
}
.landing__design-logo {
  height: 26px;
  @media all and (min-width:768px){
    height: 29px;
  }
}
.landing__fill-logo {
  height: 26px;
  @media all and (min-width:768px){
    height: 29px;
  }
}
.landing__share-logo {
  height: 26px;
  @media all and (min-width:768px){
    height: 29px;
  }
}
