@mixin bg-img() {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@mixin clear-list(){
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
@mixin centered(){
  display: flex;
  justify-content: center;
  align-items: center;
}
