
/*FONTS*/

$Montserrat: 'Montserrat', sans-serif;
$OpenSans:'Open Sans', sans-serif;
$merrifont: 'Merriweather', serif;

$font-l: 24px;
$font-md: 18px;
$font-sm:16px;
$font-xs: 12px;

$line-height-md: 20px;

$font-weight-normal:normal;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-bold-merri: 900;

/*COLORS*/
$black: #000000;
$dirty-blue: #438792;
$hospital-green: #a2deaf;
$dull-orange: #e17334;
$pale-grey: #dde9ed;
$dark-green-blue: #114e4e;
$dirty-blue: #438792;
$light-khaki: #f9f4dc;
$silver: #bfcdd0;
$black-20: rgba(0, 0, 0, 0.2);
$white: white;
$grey: #f5f5f5;
$dark-grey: #6b6b6b;
$intermediate-grey: #54585a;
$light-grey:#c5c5c5;
$twittwe-blue:#00a0f5;
$ultralight-grey:#d8d8d8;
$color-white: #f3f4f5;


/*Colors landing section*/

$linea: #d8d8d8;
$color-landing-h2: $dull-orange;
$color-landing-p: $dark-green-blue;
$color-landing-list-border: $dull-orange;
$color-landing-button-text: $white;
$color-landing-button-bg: $dirty-blue;
$color-landing-bg: $grey;
$color-copy: $dark-grey;

/*Colors card section*/

$color-card-img-section-bg: linear-gradient(to bottom, $silver,  $pale-grey);
$color-card-img-section-h2: $dark-green-blue;
$color-card-img-section-p: $intermediate-grey;
$color-card-img-section-border: $dirty-blue;
$color-card-img-section-border-icon: $hospital-green;
$color-card-img-section-icon: $dark-green-blue;
$color-fieldset-icon: $dull-orange;
//varaibles definidas por eva
$color__img-title: $dark-green-blue;
$color__img-button: $intermediate-grey;


//varaibles para fill-form
$color-card-fill_form-section-icon_and_button:$dull-orange;
$color-card-fill_form-section-h2:$intermediate-grey;
$color-card-fill_form-section-arrow:$intermediate-grey;
$color-card-fill_form-section-button-text:$white;
$color-card-fill_form-section-label:$dark-green-blue;
$color-card-fill_form-section-input:$hospital-green;
$color-card-fill_form-section-input-text:$light-grey;
$color-card-fill_form-section-line:$ultralight-grey;
